* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Myriad Pro;
}

h1, h2, h3, p {
  color: #363636;
}

p {
  font-size: 16px;
  line-height: 19px;
}

.btn {
  border-radius: 30px;
  width: 100%;
  background: #008DCD;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.6s;
  transition: -webkit-box-shadow 0.6s;
  transition: box-shadow 0.6s;
  transition: box-shadow 0.6s, -webkit-box-shadow 0.6s;
  font-size: 16px;
  margin-top: 10px;
}

.btn:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
          box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
}

.inpt {
  border-radius: 30px;
  width: 100%;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #363636;
  border: 1px solid #363636;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.6s;
  transition: -webkit-box-shadow 0.6s;
  transition: box-shadow 0.6s;
  transition: box-shadow 0.6s, -webkit-box-shadow 0.6s;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.inpt:hover {
  -webkit-box-shadow: #B3B3B3;
          box-shadow: #B3B3B3;
}

.container {
  position: relative;
}

.drop {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  color: #363636;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: none;
}

.drop__h2 {
  color: #000;
  font-size: 18px;
  text-align: left;
}

.drop__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drop__closeAll {
  color: #363636;
  cursor: pointer;
}

.drop__nav_ul {
  list-style-type: none;
}

.drop__nav_li {
  font-size: 18px;
  line-height: 22px;
}

.drop__nav_link {
  color: #000;
}

.lbl_personalData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  margin-top: 20px;
  color: #9E9E9E;
}

.center {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .center {
    padding-left: 29px;
    padding-right: 29px;
  }
}

a {
  text-decoration: none;
}

.header__bars:hover .drop {
  display: block;
}

.header {
  background-image: url(../img/header_bg.jpeg);
  background-size: cover;
  background-position-x: -400px;
  height: 288px;
  position: relative;
}

.header__img {
  width: 100px;
}

.header__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
}

.header__bars {
  color: #fff;
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header {
    background-image: url(../img/header_bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 415px;
  }
  .header__bars {
    display: none;
  }
}

@media (min-width: 1440px) {
  .header {
    background-image: url(../img/header_bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 525px;
  }
  .header__bars {
    display: none;
  }
}

.block1 {
  background: #fff;
}

.block1__h1 {
  font-size: 32px;
  line-height: 38px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}

.block1__h2 {
  font-weight: 600;
  margin-top: 8px;
  font-size: 24px;
}

.block2 {
  background: #F7F7F7;
  margin-top: 27px;
  padding-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block2__brendList {
  position: relative;
  height: 180px;
}

.block2__brendList_bg {
  width: 100%;
}

.block2__brendList_cheb {
  position: absolute;
  top: 20%;
  left: calc(50% - 42px);
  width: 84px;
}

.block2__brendList_dpd {
  position: absolute;
  top: 15%;
  left: 2%;
  width: 45px;
  height: 26px;
  overflow: hidden;
}

.block2__brendList_dpd img {
  margin-top: -30px;
  width: 45px;
}

.block2__brendList_pony {
  position: absolute;
  top: 75px;
  left: 16px;
  width: 45px;
  height: 26px;
  overflow: hidden;
}

.block2__brendList_pony img {
  margin-top: -30px;
  width: 45px;
}

.block2__brendList_bringo {
  position: absolute;
  top: 25px;
  left: 56px;
  width: 45px;
  height: 26px;
  overflow: hidden;
}

.block2__brendList_bringo img {
  margin-top: -30px;
  width: 38px;
}

.block2__brendList_cdek {
  position: absolute;
  top: 65px;
  left: 56px;
  width: 45px;
  height: 26px;
  overflow: hidden;
}

.block2__brendList_cdek img {
  margin-top: -30px;
  width: 38px;
}

.block2__brendList_tnt {
  position: absolute;
  top: 15px;
  left: 176px;
  width: 45px;
  height: 26px;
  overflow: hidden;
}

.block2__brendList_tnt img {
  margin-top: -30px;
  width: 38px;
}

.block2__brendList_ups {
  position: absolute;
  top: 55px;
  left: 190px;
  width: 45px;
  height: 26px;
  overflow: hidden;
}

.block2__brendList_ups img {
  margin-top: -30px;
  width: 38px;
}

.block2__brendList_city {
  position: absolute;
  top: 35px;
  left: 236px;
  width: 45px;
  height: 26px;
  overflow: hidden;
}

.block2__brendList_city img {
  margin-top: -30px;
  width: 38px;
}

.block2__brendList_spsr {
  position: absolute;
  top: 75px;
  left: 236px;
  width: 45px;
  height: 23px;
  overflow: hidden;
}

.block2__brendList_spsr img {
  margin-top: -30px;
  width: 38px;
}

.block2__h2 {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}

.block2__p {
  margin-top: 10px;
}

.step {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 27px;
}

.step__item {
  width: 100%;
  display: block;
}

.step__item img {
  width: 100%;
  margin-top: 10px;
}

.step__h2 {
  margin-top: 27px;
}

.step__p {
  height: 56px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.block5 {
  background: #F7F7F7;
  padding-top: 23px;
  padding-bottom: 23px;
}

.block5__h2 {
  color: #000;
  font-weight: 600;
}

.zvonok {
  background-color: #008DCD;
  padding-top: 32px;
  padding-bottom: 7px;
}

.zvonok__h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.zvonok__p {
  color: #fff;
}

.zvonok__checkboxPersonLbl {
  color: #fff;
  font-size: 10px;
}

.zvonok__btn {
  background-color: #FFCC00;
  color: #000;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */